@{
    Layout = null;
}

<h4>Students</h4>

<div class="row">
    <a href="#/Student/Add">Add Student</a>
</div>

<div class="row">
    <div id="StudentDiv">
    </div>
</div>

<script>

    $(function () {
        GetStudents();
    });

    function GetStudents() {
        $.get("/Student/_Index/", function (data) {
            $("#StudentDiv").html(data);
        });
    }
</script>  