@model  IEnumerable<Actors.Models.Actor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Actors from collection</h1>
    </div>
</body>
</html>