@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Actors</h1>
</div>
<div id="container">
    <div id="ActorDiv" class="row">
    </div>
</div>
<script>
    $(function () {
        GetAllActors();
    });

    function GetAllActors() {
        $.get("/Home/Actors", function (data) {
            $("#ActorDiv").html(data);
        });
    }
</script>