@model CustomAuthenticationMVC.Models.CustomSerializeModel
@{
    ViewBag.Title = "Index";
}
<h2>Hello @Model.FirstName</h2>
<p>You are a @Model.RoleName.FirstOrDefault()</p>
<div>@Html.ActionLink("Start quiz", "Index", "Question")</div>