@model CustomAuthenticationMVC.Models.Question
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>Please answer following questions:</div>

<h2>@Model.QuestionText</h2>